html {
  scroll-behavior: smooth;
}
body,
html {
  font-family: Prompt, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #58595b;
  overflow-x: hidden;
}
.work-label {
  padding: 10px 20px;
  display: inline-block;
  background-color: #414042;
  font-size: 26px;
  color: #fff;
  font-weight: 200;
  position: absolute;
  font-weight: 400;
}
.work-label.vertical {
  top: 100px;
  left: -66px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.work-label.horizontal {
  top: 20px;
  left: 0;
}
.work-heading1 {
  font-size: 2.6rem;
}
.work-heading2 {
  font-size: 2.1rem;
}
.work-heading3 {
  font-size: 1.8rem;
}
.work-heading4 {
  font-size: 1.65rem;
}
.work-heading5 {
  font-size: 1.25rem;
}
.work-section {
  padding: 100px 0;
  position: relative;
}
.container {
  max-width: 1240px;
}
.font-weight-medium {
  font-weight: 500;
}
.btn {
  border-radius: 2rem;
}
.btn.btn-info {
  background-color: #009df8;
  border-color: #009df8;
  font-size: 18px;
}
.btn.btn-primary {
  color: #fff;
  background-color: #ff9928;
  border-color: #ff9928;
  padding: 0.375rem 1.5rem;
}
.btn.btn-primary:hover {
  background-color: #e78110;
  border-color: #e78110;
}
.btn.btn-outline-primary {
  color: #414042;
  border-color: #ff9928;
  border-radius: 0.8rem;
}
.btn.btn-outline-primary:hover {
  color: #fff;
  background-color: #ff9928;
  border-color: #ff9928;
}
.work-icon {
  padding: 0 0 0 10px;
}
.work-icon svg {
  fill: #fff;
  width: 16px;
  height: 16px;
}
.bg-gray {
  background-color: #e4e5e6;
}
.bg-drak {
  background-color: #414042;
}
.bg-orange {
  background-color: #ff9928;
}
.text-orange {
  color: #ff9928;
}
.text-dark-gray {
  color: #58595b;
}
.text-blue {
  color: #00b4f9;
}
.txz-sm {
  font-size: 12px;
}
.txz-xs {
  font-size: 10px;
}
.txz-md {
  font-size: 16px;
}
.ic-list {
  fill: #ff9928;
}
.work-hero .work-logo {
  background-color: #fff;
  padding: 30px;
  height: 100%;
  width: 7%;
}
.work-hero .work-navbar {
  background-color: #ff9928;
  width: 100%;
  padding: 20px 20px 0 0;
}
.work-hero .work-navbar .nav {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.work-hero .work-header {
  background-image: url(../images/bg-header.png);
  background-repeat: no-repeat;
  background-position: 100% 55%;
  background-size: contain;
  background-color: #ff9928;
  width: 100%;
}
.work-hero .navbar-nav .nav-link,
.work-hero .work-link-white {
  color: #fff;
  font-size: 16px;
}
.work-hero .navbar-nav .nav-link .nav-item.active .nav-link,
.work-hero .navbar-nav .nav-link:hover,
.work-hero .work-link-white .nav-item.active .nav-link,
.work-hero .work-link-white:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.work-hero .work-intro {
  max-width: 950px;
  margin: 0 auto;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.1);
}
#WorkHeader {
  z-index: 9999;
}
.work-service {
  margin-top: 120px;
}
.work-service .work-service-list:nth-child(3) .block-logo {
  zoom: 1.4;
  margin-top: -30px;
}
.work-service .work-service-list:nth-child(3) .block-logo img {
  width: 100%;
}
.work-service .work-service-list:nth-child(3) p {
  zoom: 1.3;
}
.work-mission {
  padding: 0 0 50px 0;
  background-image: url(../images/bg-mission.png);
  background-repeat: no-repeat;
  background-position: 608px 100%;
  background-size: cover;
}
.work-mission h2 {
  margin-top: -70px;
}
.work-mission .work-why {
  margin-top: 180px;
}
.work-how-to {
  padding: 100px 0 80px 0;
}
.work-how-to .work-box {
  margin-top: 60px;
}
.work-how-to .work-box:nth-child(4) {
  padding-bottom: 70px;
  margin-bottom: 70px;
  border-bottom: 1px solid #cfd1d2;
}
.work-how-to .work-heading .logo {
  max-width: 12%;
  margin-right: 30px;
}
.work-how-to .work-bd-style {
  border: 4px solid #cfd1d2;
  padding: 50px;
}
.work-how-to .work-bd-style.white {
  border: 4px solid #fff;
}
.work-package-group {
  margin: 80px 0;
}
.work-package {
  color: #414042;
  margin-bottom: 30px;
}
.work-package .work-package-main {
  padding: 40px 10px;
  font-weight: 300;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.work-package .work-package-detail {
  padding: 20px 10px;
  background-color: #e5e6e7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.work-package .work-package-detail .work-ot {
  background-color: #fff;
  padding: 12px 5px;
  margin: 20px 0 10px 0;
}
.work-form .form-control {
  border-radius: 0.8rem;
}
.work-map {
  padding: 80px;
  background-color: #cfd1d2;
}
.work-footer a {
  color: #fff;
}
.work-footer .work-nav {
  padding-left: 0;
  list-style-type: none;
}
.work-footer .work-nav ul {
  padding-left: 20px;
  list-style-type: none;
}
@media only screen and (max-width: 1729px) {
  .work-hero .navbar-nav .nav-link,
  .work-hero .work-link-white {
    font-size: 14px;
  }
  .work-hero .navbar {
    padding: 0.5rem 0.3rem;
  }
  .work-hero .btn-info {
    font-size: 16px;
  }
  .work-hero .work-logo {
    padding: 20px;
  }
  .work-mission {
    background-position: 480px 100%;
  }
}
@media only screen and (max-width: 1527px) {
  .work-hero .navbar-nav .nav-link,
  .work-hero .work-link-white {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1378px) {
  .work-hero .navbar {
    width: 92%;
  }
  .work-icon svg {
    width: 14px;
    height: 14px;
  }
  .work-hero .btn-info {
    font-size: 14px;
  }
  .work-mission .work-why {
    margin-top: 80px;
  }
  .work-mission h2 {
    margin-top: 40px;
  }
  .work-mission {
    background-position: 300px 100%;
  }
  .work-mission .work-label.vertical {
    left: -54px;
  }
  .heading-block {
    padding-left: 50px;
  }
  .work-label {
    font-size: 20px;
  }
  .work-label.vertical {
    left: -50px;
  }
}
@media only screen and (max-width: 1335px) {
  .work-hero .navbar-nav .nav-link,
  .work-hero .work-link-white {
    font-size: 10px;
  }
  .work-hero .navbar {
    width: auto;
  }
  .work-hero .work-navbar {
    padding: 10px 20px 20px 0;
  }
  .work-mission {
    background-position: 200px 100%;
  }
}
@media only screen and (max-width: 1199px) {
  .work-hero .work-header {
    padding: 10px 20px 0;
    position: relative;
    background-position: 100% 10%;
  }
  .work-hero .work-navbar .nav {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    display: inline-flex;
    position: absolute;
    top: 18px;
    left: 100px;
  }
  .work-hero .work-list {
    width: auto;
    position: absolute;
    top: 18px;
    right: 0;
  }
  .work-hero .navbar-dark .navbar-toggler {
    border-color: #fff;
  }
  .work-hero .navbar {
    width: 100%;
    flex-basis: 100%;
    padding: 0.5rem 0.9rem;
  }
  .work-hero .navbar-nav .nav-link,
  .work-hero .work-link-white {
    font-size: 14px;
    padding: 5px 20px;
  }
  .work-hero .work-link-white {
    color: #fff;
  }
  .work-hero .btn-info {
    font-size: 16px;
  }
  .work-hero .navbar-collapse {
    padding: 20px 10px;
    position: absolute;
    left: -14px;
    top: 55px;
    width: 100%;
    z-index: 1;
    background-color: #ff9928;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.21);
    box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.21);
  }
  .work-hero .navbar-dark .navbar-nav .active > .nav-link {
    color: #fff;
  }
  .work-hero .work-logo {
    height: 80px;
    padding: 15px;
  }
  .work-hero .work-navbar {
    padding: 10px 20px 10px 0;
  }
  .work-hero .work-link-white {
    padding: 0;
  }
}
@media only screen and (max-width: 991px) {
  .work-hero .work-logo {
    width: 9%;
  }
  .work-hero .work-intro {
    max-width: 100%;
  }
  .work-hero .work-intro .work-text {
    font-size: 16px;
  }
  .work-hero .display-4 {
    font-size: 1.9rem;
  }
  .work-mission .work-why {
    margin-top: 30px;
  }
  .work-section.work-map {
    padding: 80px 20px;
  }
  .work-section.work-map iframe {
    height: 450px;
    margin-bottom: 30px;
  }
  .work-section {
    padding: 80px 10px;
  }
  .work-mission {
    padding: 0 10px;
  }
  .work-heading1 {
    font-size: 1.8rem;
  }
  .work-heading3 {
    font-size: 1.5rem;
  }
  .work-heading2 {
    font-size: 1.6rem;
  }
  .work-heading4 {
    font-size: 1.4rem;
  }
  .work-heading5 {
    font-size: 1.2rem;
  }
  .work-package .work-package-detail .work-ot {
    font-size: 14px;
  }
  .work-bd-style:first-child {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .work-hero .work-logo {
    width: 12%;
  }
  .work-service .work-service-list:nth-child(3) .block-logo {
    margin-top: 0;
  }
  .work-service {
    margin-top: 50px;
  }
  .work-how-to .work-heading {
    text-align: center;
  }
  .work-how-to .work-heading .logo {
    max-width: 30%;
    margin: 0 auto 20px;
  }
  .work-footer .block-logo img {
    width: 27%;
  }
}
@media only screen and (max-width: 575px) {
  .work-hero .work-logo {
    width: 18%;
  }
  .work-hero .navbar {
    padding: 0.5rem 0.9rem;
  }
  .work-hero .btn-info {
    font-size: 12px;
  }
  .work-hero .navbar-nav .nav-link,
  .work-hero .work-link-white {
    font-size: 12px;
  }
  .work-hero .navbar-toggler {
    font-size: 1rem;
  }
  .work-hero .work-navbar .nav {
    border-left: 0;
    top: -3px;
    left: inherit;
    right: 31px;
  }
  .work-hero .work-list {
    top: 28px;
  }
  .work-hero .work-header {
    background-size: 80%;
    background-position: 180% 15%;
    padding: 10px 5px 0;
  }
  .work-label.vertical {
    top: 80px;
  }
  .work-how-to .work-bd-style {
    padding: 20px;
  }
  .work-mission {
    background-position: 80px 100%;
  }
  .work-heading1 {
    font-size: 1.6rem;
  }
  .work-heading3 {
    font-size: 1.3rem;
  }
  .work-heading2 {
    font-size: 1.4rem;
  }
  .work-heading4 {
    font-size: 1.2rem;
  }
  .work-heading5 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .work-mission h2 {
    margin-top: 60px;
  }
}
